# Ignore hug chemical LLM directory
/chemical_models

# Develop phase: ChemCOTBench-V2 original Repo
/ChemCoTBench-V2

# VScode configuration
/.vscode

# pycache and compiled python files
__pycache__/
*.py[cod]

# Python package build artifacts
/Pilot/build/
/Pilot/dist/
/Pilot/*.egg-info/

# Sample Txt Files
*.txt
